<!DOCTYPE html>
<httl lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/style.css">
        <title> Hello World</title>

    </head>
    <body>
        <h1>Hello from index.html</h1>
        <p class="hello">20FI042 小林尚生</p>

        <p>情報メディア学科3年情報セキュリティ研究室所属です。</p>
        <hr>
        <ul>
            {% for i in list %}
            <li> {{list[i-1]}}</li>
            {% endfor %}
        </ul>
        <hr>
        <p>{{"好きな色: %s 好きな食べ物: %s 好きなスポーツ: %s" % (dictionary["color"],dictionary["food"],dictionary["sport"])}}</p>
        <hr>
        <p>今日の占い:</p>
        {%if todayNumber >= 1 and 40 >= todayNumber %}
            <h2>中吉</h2>
        {%elif todayNumber >= 41 and 80 >= todayNumber %}
            <h2>吉</h2>
        {% else %}
            <h2>大吉</h2>
        {% endif %}
    </body>
</httl>